[Unit]
Description=Download Content of Object Storage from Ceph

[Service]
Type=oneshot
ExecStart=/usr/local/bin/s3-download.sh
StandardOutput=journal

[Install]
WantedBy=multi-user.target
